{% extends 'pay/base.html' %}
{% block content %}
<br><br><br>
{% comment %}
    
<div class="container">
<form method="POST">
{% csrf_token %}
{{ form|linebreaks}}
<h5>
<input type="submit" class="btn btn-primary btn-md" value="CREATE"></h5>
</form></div>{% endcomment %}

<div class="container"><div class="card  p-3 mb-2 bg-transparent text-white">    <div class="card-body px-lg-5 pt-0"><br>
    <h1>Edit your profile</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary btn-md">Update</button>
    </form>
</div>
</div></div>{% comment %}
    <ul>
    {% for document in documents %}
        <li>
            <a href="{{ document.upload_file.url }}">{{ document.upload_file.name }}</a>
            <small>({{ document.upload_file.size|filesizeformat }}) - {{document.upload_date}}</small>
        </li>
    {% endfor %}
    </ul>
</div>    {% endcomment %}

{% endblock content %}
